/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




body {
	font-family: 'Open Sans', sans-serif;
	/*alrernative fonts:  serif, cursive, fantasy, monospace*/
}

nav {
	/*0.8rem = 12.8px based on the root element (16px)*/
	/*shorthand property*/
	padding: 0.8rem;
	/*properties that make up padding property
	padding-top:  0.8rem
	padding-bottom:  0.8rem
	padding-left:  0.8rem
	padding-right:  0.8 rem*/

	/*creates space between the nav and the intro section*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

/*child selector*/
nav > ul > li {
	/*remove bullet points*/
	list-style-type: none;
}

/*descendant selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*li elements turn into inline elements, default behavior of li is block elements*/
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*shorthand property
	padding:  top left&right bottom;*/
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	/*margin shorthand
	top&bottom , left&right
	margin:  0, 0.5;*/
}






















